// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


$primary-black: #121212;
$primary-red: #300E13;
$text-color: #ffffff;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 12px 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  color: $text-color;
  background-color: $primary-black;
  transition: all 0.2s ease;

  &:hover {
    background-color: darken($primary-red, 10%);
    transform: translateY(-2px);
  }
}

.navbar-btn-primary {
  font-weight: 600; // Making it slightly bolder
  box-shadow: 0 2px 6px rgba(229, 9, 20, 0.3); // Adding subtle shadow
}
